$brand-color: #CC2229
$brand-focus-color: #9F2A2F
$brand-2-color: #b2242a

$third-color: #80060B
$third-focus-color: #810110

$secondary-color: #108AE8
$secondary-focus-color: #0B3574

$fourth-color: #252766
$fourth-focus-color: #1A203D
$desat-fourth-color: #424557

$important-text-color: #F1F1F2
$text-color: #fff

$placeholder-text-color: #B2B2B2
$background-color: #07070F
$footer-color: #0f0f16

$green-color: #3FAC23
$green-focus-color: #2E8713
$greener-color: #257012

$yellow-color: #E0AC1D
$yellow-focus-color: #7A8051

$dark-color: #080715
$dark-1-color: #0C0D0D
$dark-2-color: #17171A
$dark-3-color: #05060d

$gray-color: #2C2C2C
$gray-1-color: #3C3C3C
$gray-2-color: #303C48
$gray-3-color: #424557
$gray-4-color: #535353
$gray-5-color: #7A8896

$light-color: #E9F0FF
$light-1-color: #F5F5F5

$on-palm: 600px
$on-large-palm: 740px
$on-laptop: 800px
$on-large-laptop: 980px
$content-width: 1200px
$menu-breakpoint: $content-width

$fill: -webkit-fill-available
$fit: fit-content
